<html>
    <head>
           <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 </head>
    <body>
        <div class="container mt-5 text-center">
           <h1>Error</h1>
           <%if (message){%>
            <h3><%= message %> </h3>
            <h6>It may happen that the url is incorrect <br> click register below to register afresh <br>or inform your referrer</h3>


           <%}%>
           <a href="/register/register">
               <button class="btn btn-success">Register</button>
           </a>
        </div>
        
    </body>

</html>