<html>
    <head>
                    <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container mt-5 text-center">
           <h1>Welcome to Biggy prize</h1>
           <h4>The prize is 50 bottles of "Biggy" drink. </h4>
           <h6>All you have to do is to register and share your link on any platform, <br>the more people use your register link to register 
               the more you are opportune to wine the prize
           </h6>
           <a href="/register/register" >
               <button class="btn btn-success">Register</button>
           </a>
        </div>
        
    </body>

</html>